# OSX
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
xcuserdata
*.xccheckout
DerivedData
project.xcworkspace
/ios/RNEaseMob/RNEaseMob/ThirdParty/HyphenateFullSDK-3.4.1/Hyphenate.framework/Hyphenate

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
bin/
gen/
out/

# node.js
node_modules/
yarn-error.log
main.jsbundle*